.header .link-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2f42;
}

.header .nav .link {
    font-weight: 500;
    letter-spacing: 0.02em;
}

.address .link-mailto,
.address .link-tel {
    font-weight: 400;
}